.vscode
.env

# next.js
/.next/
/out/
.vercel

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
sw.js
workbox-*.js

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*