@font-face {
  font-family: 'GT America';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/gt_america_regular-webfont.woff2') format('woff2'),
    url('/fonts/gt_america_regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'GT America Extended';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/gt_america_extended_medium-webfont.woff2') format('woff2'),
    url('/fonts/gt_america_extended_medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Jetbrains Mono';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Regular.woff') format('woff');
}