@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-under {
    text-underline-position: under;
  }

  .word-break {
    word-break: break-word;
  }

  .list-square {
    list-style-type: square;
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

/**
 * Global
 */

::selection {
  @apply bg-blue-100;
}

html {
  @apply scroll-smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply font-sans antialiased bg-white text-base text-gray-600;
}

#__next {
  @apply flex flex-col min-h-screen;
}

h1,
h2,
h3 {
  @apply font-bold text-black scroll-mt-16;
}

h1 {
  @apply text-2xl md:text-3xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg md:text-xl;
}

h2 + h3 {
  @apply mt-0 !important;
}

button,
a {
  @apply outline-none cursor-pointer;
}

h1 a,
h2 a,
h3 a {
  @apply underline-under hover:underline;
}

button:focus {
  @apply outline-none;
}

button:disabled,
button[disabled] {
  @apply cursor-not-allowed;
}

p {
  @apply leading-slacker mb-6;
}

li p {
  @apply inline;
}

li p,
li h1,
li h2 {
  @apply my-0;
}

hr {
  @apply border-gray-200 my-6;
}

ul ul {
  @apply pl-6 pt-2 mb-2.5 list-square !important;
}

ul > li::marker {
  @apply text-gray-300;
}

img {
  @apply rounded-xl animate-reveal;
}

/**
 * Codes
 */

code[class*='language-'],
pre[class*='language-'],
pre {
  @apply text-xs leading-relaxed w-full text-left text-gray-800 break-normal rounded-lg;
}

/* Code blocks */
pre[class*='language-'],
pre {
  @apply p-3 overflow-auto min-w-full;
}

.token.important,
.token.bold {
  @apply font-medium;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'],
pre {
  @apply rounded-b-lg bg-white border border-gray-200 text-inherit;
}

.code-header {
  @apply flex items-center gap-x-4 py-2.5 px-4 rounded-t-lg bg-gray-50 border border-gray-200;
}

.code-header + pre {
  @apply rounded-t-none border-t-0 mt-0;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400;
}

.react-syntax-highlighter-line-number {
  @apply mr-5 text-gray-400 font-light !important;
}

.token.namespace {
  @apply opacity-70;
}

.token.script {
  @apply text-gray-700;
}

.token.property,
.token.symbol,
.token.deleted,
.token.keyword.null {
  color: #d9931e;
}

.token.atrule,
.token.keyword,
.token.class,
/*.token.dom.variable,*/
.token.spread.operator {
  @apply text-[#ff0078] font-bold;
}

.token.tag,
.token.class-name,
.token.function-variable,
.token.function:not(.function-variable),
.token.number,
.token.property-access,
.token.maybe-class-name:not(.imports) {
  color: #0070f3;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.attr-name,
.token.regex,
.token.important,
.token.variable:not(.dom) {
  color: #d9931e;
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #028265;
}

.token.boolean {
  color: #36acaa;
}

.token.constant {
  color: inherit;
}

.token.spread .token.punctuation {
  color: #ff0078;
}

.token.spread .token.attr-value {
  @apply text-white;
}

/**
 * Codes: CSS
 */

.language-css {
  color: #028265;
}

/* .language-css .token.property,
.language-css .token.punctuation {
  @apply text-white;
} */

.language-css .token.atrule {
  @apply text-gray-700;
}

.language-css .token.rule {
  color: #ff0078;
}

.language-css .token.number,
.language-css .token.unit {
  color: #60a7fa;
}

/**
 * Codes: Bash
 */

code.language-bash .token.function {
  color: #028265;
}
