@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-under {
    text-underline-position: under;
  }

  @variants hover, focus {
    .glassmorphism {
      background: linear-gradient(134deg, rgb(51, 55, 58) 0%, rgb(27, 30, 33) 100%);
      box-shadow: rgb(3 4 5 / 40%) 0px 2px 6px 0px, rgb(154 160 164 / 40%) 1px 1px 2px 0px inset,
        rgb(42 47 52) -1px -1px 2px 0px inset;
    }
  }
}

/**
 * Global
 */

::selection {
  @apply bg-gray-300 text-black;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-size: 14px;
  letter-spacing: 0.02em;
}

body {
  @apply font-sans leading-slack subpixel-antialiased bg-black text-[#e4e5e7];
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  @apply font-display font-bold;
}

h2 {
  @apply text-xl md:text-2xl;
}

h3 {
  @apply text-lg md:text-xl;
}

button,
a {
  @apply outline-none;
}

button:focus {
  @apply outline-none;
}

button:disabled,
button[disabled] {
  @apply cursor-not-allowed;
}

p {
  @apply leading-slack;
}

li p,
li h1,
li h2 {
  @apply my-0;
}

hr {
  @apply border-gray-200 my-12;
}

ul ul {
  @apply pl-6;
  list-style-type: square;
}

img {
  @apply rounded-xl;
}

.title-link {
  @apply max-w-max cursor-pointer;
  scroll-margin-top: 100px;
  scroll-snap-margin-top: 100px;
}

.title-link a {
  text-underline-position: under;
}

.title-link:hover a {
  @apply underline;
}

.title-link:before .title-link-anchor {
  @apply block invisible;
  content: '';
}

.title-link:hover .title-link-anchor {
  @apply opacity-100;
}

/**
 * Codes
 */

/* .prose pre {
  @apply bg-gray-50 border border-gray-200;
} */

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-xs leading-slacker w-full text-left break-normal whitespace-pre rounded-lg;
}

/* Code blocks */
pre[class*='language-'] {
  @apply p-4 my-6 mx-0 overflow-auto min-w-full;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply rounded-b-lg;
}

/* Inline code */
/* :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
} */

.token.important,
.token.bold {
  @apply font-semibold;
}

.mdx-marker {
  @apply block -mx-4 px-4 bg-gray-700;
  min-width: fit-content;
  box-shadow: inset 3px 0 0 0 #9ca3af;
}

.remark-code-title {
  @apply py-3 px-4 rounded-t-lg text-sm mb-0 mt-4 w-full bg-gray-700 border border-gray-700;
}

.remark-code-title + pre {
  @apply rounded-t-none mt-0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply bg-[#18191a] border border-gray-700;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400;
}

.token.script.language-javascript,
.token.language-javascript .token.punctuation,
.token.script-punctuation,
.token.operator,
.token.arrow.operator {
  @apply text-white;
}

.token.namespace {
  @apply opacity-70;
}

.token.script {
  @apply text-charcoal;
}

.token.property,
.token.boolean,
.token.symbol,
.token.deleted,
.token.keyword.null {
  color: #f5a623;
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50e3c2;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.attr-name,
.token.regex,
.token.important,
.token.variable:not(.dom) {
  color: #f5a623;
}

.token.atrule,
.token.keyword,
.token.class,
.token.spread.operator,
.token.dom.variable {
  color: #ff5aa7;
}

.token.tag,
.token.class-name,
.token.function-variable,
.token.function:not(.function-variable),
.token.number {
  color: #60a7fa;
}

.token.constant {
  color: inherit;
}

.token.spread .token.punctuation {
  color: #ff5aa7;
}

.token.spread .token.attr-value {
  @apply text-white;
}

/**
 * Codes: CSS
 */

.language-css {
  color: #50e3c2;
}

.language-css .token.property,
.language-css .token.punctuation {
  @apply text-white;
}

.language-css .token.atrule {
  @apply text-white;
}

.language-css .token.rule {
  color: #ff5aa7;
}

.language-css .token.number,
.language-css .token.unit {
  color: #60a7fa;
}

/**
 * Codes: Bash
 */

code.language-bash .token.function {
  color: #50e3c2;
}
