@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-under {
    text-underline-position: under;
  }

  /* .slashed-zero {
    font-variant-numeric: slashed-zero;
  } */

  .word-break {
    word-break: break-word;
  }

  .list-square {
    list-style-type: square;
  }
}

/**
 * Global
 */

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/UntitledSansWeb-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/UntitledSansWeb-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'MonoLisa';
  src: url('/fonts/MonoLisa-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

::selection {
  @apply bg-blue-100;
}

html {
  @apply scroll-smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply font-sans subpixel-antialiased bg-white text-base text-gray-700;
}

#__next {
  @apply flex flex-col min-h-screen;
}

h1,
h2,
h3 {
  @apply font-bold text-black;
}

h1 {
  @apply text-2xl md:text-3xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg md:text-xl;
}

button,
a {
  @apply outline-none cursor-pointer;
}

button:focus {
  @apply outline-none;
}

button:disabled,
button[disabled] {
  @apply cursor-not-allowed;
}

p {
  @apply leading-slacker;
}

li p {
  @apply inline;
}

li p,
li h1,
li h2 {
  @apply my-0;
}

hr {
  @apply border-gray-200 my-6;
}

ul ul {
  @apply pl-6 pt-2 mb-2.5 list-square !important;
}

img {
  @apply rounded-xl;
}

/**
 * Codes
 */

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

code[class*='language-'],
pre[class*='language-'],
pre {
  @apply text-xs leading-slack w-full text-left break-normal rounded-lg;
}

/* Code blocks */
pre[class*='language-'],
pre {
  @apply p-3 my-6 mx-0 overflow-auto min-w-full;
}

.token.important,
.token.bold {
  @apply font-medium;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'],
pre {
  @apply rounded-b-lg bg-white border border-gray-300 text-inherit;
}

.code-header {
  @apply flex items-center space-x-4 py-2.5 px-4 rounded-t-lg bg-gray-100 border border-gray-300;
}

.code-header + pre {
  @apply rounded-t-none border-t-0 mt-0;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400;
}

/* .token.script.language-javascript,
.language-javascript .token.punctuation,
.token.script-punctuation,
.token.operator,
.token.arrow.operator {
  @apply text-gray-500;
} */

.token.namespace {
  @apply opacity-70;
}

.token.script {
  @apply text-gray-700;
}

.token.property,
.token.boolean,
.token.symbol,
.token.deleted,
.token.keyword.null {
  color: #d9931e;
}

.token.atrule,
.token.keyword,
.token.class,
.token.spread.operator,
.token.dom.variable {
  color: #ff0078;
}

.token.tag,
.token.class-name,
.token.function-variable,
.token.function:not(.function-variable),
.token.number,
.token.property-access
/* .token.maybe-class-name */ {
  color: #0076ff;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.attr-name,
.token.regex,
.token.important,
.token.variable:not(.dom) {
  color: #d9931e;
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #2cb092;
}

.token.constant {
  color: inherit;
}

.token.spread .token.punctuation {
  color: #ff0078;
}

.token.spread .token.attr-value {
  @apply text-white;
}

/**
 * Codes: CSS
 */

.language-css {
  color: #028265;
}

/* .language-css .token.property,
.language-css .token.punctuation {
  @apply text-white;
} */

.language-css .token.atrule {
  @apply text-gray-700;
}

.language-css .token.rule {
  color: #ff0078;
}

.language-css .token.number,
.language-css .token.unit {
  color: #60a7fa;
}

/**
 * Codes: Bash
 */

code.language-bash .token.function {
  color: #028265;
}
