@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-gray-100;
  }

  html {
    @apply scroll-smooth;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply font-sans antialiased bg-white text-base text-[#1a1a1a];
  }

  #__next {
    @apply min-h-screen;
  }

  article {
    @apply flex flex-col;
  }

  p {
    @apply leading-slacker mb-6;
  }

  a,
  button {
    @apply outline-none cursor-pointer;
  }

  a {
    @apply transition-colors duration-300;
  }

  button:focus {
    @apply outline-none;
  }

  button:disabled,
  button[disabled] {
    @apply bg-gray-100 cursor-not-allowed;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold text-black scroll-mt-16;
  }

  h1 {
    @apply text-2xl md:text-3xl;
    letter-spacing: -0.02em;
  }

  h2 {
    @apply text-lg md:text-xl;
  }

  h3 {
    @apply md:text-lg;
  }

  h2,
  h3 {
    letter-spacing: -0.015em;
  }

  h2 + h3 {
    @apply !mt-0;
  }

  h1 a,
  h2 a,
  h3 a {
    @apply underline-offset-4 hover:underline;
  }

  ol > li::marker {
    @apply font-semibold;
  }

  ul > li {
    @apply pl-2;
  }

  ul > li::marker {
    @apply text-gray-400;
  }

  li div {
    @apply inline;
  }

  li p,
  li div,
  li h1,
  li h2 {
    @apply my-0;
  }

  hr {
    @apply border-gray-200 my-6;
  }

  img {
    @apply rounded-xl motion-safe:animate-reveal;
  }

  pre {
    @apply py-3 pl-3 pr-[15%] overflow-x-auto rounded-b-lg bg-white border-x border-b border-gray-200 text-xs leading-slacker text-left break-normal;
  }

  time {
    @apply text-gray-400;
  }
}

@layer components {
  .content {
    @apply px-6 md:px-16 mx-auto w-full max-w-screen-md;
  }

  .btn {
    @apply flex flex-none items-center justify-between gap-1.5 text-sm leading-none font-medium bg-white rounded-lg cursor-pointer;
  }

  .link {
    @apply underline underline-offset-4 self-start;
  }

  .pre-code {
    @apply relative after:content-[''] after:absolute after:inset-y-3 after:right-px after:bg-r-shadow-gradient after:rounded-br-lg after:w-1/5 after:pointer-events-none;
  }

  .inline-code {
    @apply inline-block font-medium not-italic text-sm px-0.5 py-0.5 rounded-md bg-gray-100 before:content-['`'] after:content-['`'];
  }

  /**
  * Codes: JavaScript
  */

  .token.important,
  .token.bold {
    @apply font-medium;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    @apply text-gray-400;
  }

  .token.namespace {
    @apply opacity-70;
  }

  /* .token.script {
    @apply text-gray-700;
  } */

  .token.property,
  .token.symbol,
  .token.deleted,
  .token.keyword.null {
    @apply text-[#d9931e];
  }

  .token.atrule,
  .token.keyword,
  .token.class,
  /*.token.dom.variable,*/
  .token.spread.operator {
    @apply text-[#ff0078] font-bold;
  }

  .token.tag,
  .token.class-name,
  .token.function-variable,
  .token.function:not(.function-variable),
  .token.number,
  .token.property-access,
  .token.maybe-class-name:not(.imports) {
    @apply text-[#0070f3];
  }

  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.attr-name,
  .token.regex,
  .token.important,
  .token.variable:not(.dom) {
    @apply text-[#d9931e];
  }

  .token.attr-value,
  .token.selector,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    @apply text-[#028265];
  }

  .token.boolean {
    @apply text-[#36acaa];
  }

  .token.constant {
    color: inherit;
  }

  .token.spread .token.punctuation {
    @apply text-[#ff0078];
  }

  .token.spread .token.attr-value {
    @apply text-white;
  }

  /**
  * Codes: CSS
  */

  .language-css {
    @apply text-[#028265];
  }

  /* .language-css .token.atrule {
    @apply text-gray-700;
  } */

  .language-css .token.rule {
    @apply text-[#ff0078];
  }

  .language-css .token.number,
  .language-css .token.unit {
    @apply text-[#60a7fa];
  }

  /**
  * Codes: Bash
  */

  code.language-bash .token.function {
    @apply text-[#028265];
  }
}

@layer utilities {
  .underline-offset-4 {
    text-underline-offset: 4px;
  }

  .word-break {
    word-break: break-word;
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .bg-r-shadow-gradient {
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
  }

  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
