@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sh-identifier: #171717;
    --sh-sign: #8996a3;
    --sh-property: hsl(278.93deg 100% 36.12%);
    --sh-entity: hsl(210.8deg 100% 38.9%);
    --sh-jsxliterals: #6266d1;
    --sh-string: hsl(138.58deg 77.94% 27.65%);
    --sh-keyword: rgb(215, 58, 73);
    --sh-comment: #a19595;
  }

  ::selection {
    @apply bg-black text-white;
  }

  html,
  body {
    @apply bg-white;
  }

  html {
    @apply overflow-hidden scroll-smooth antialiased;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply font-sans text-base text-gray-900;
  }

  #__next {
    @apply min-h-dynamic-screen;
  }

  article {
    @apply flex flex-col;
  }

  p {
    @apply mb-6 leading-slacker;
  }

  a,
  button {
    @apply cursor-pointer outline-none;
  }

  a {
    @apply transition-colors duration-300;
  }

  button:focus {
    @apply outline-none;
  }

  button:disabled,
  button[disabled] {
    @apply cursor-not-allowed;
  }

  h1,
  h2,
  h3 {
    @apply scroll-mt-16 font-semibold slashed-zero tracking-tighter text-black lg:scroll-mt-8;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-lg md:text-xl;
  }

  h3 {
    @apply md:text-lg;
  }

  h2 + h3 {
    @apply !mt-0;
  }

  ol {
    li::marker {
      @apply font-semibold;
    }
  }

  ul {
    li {
      @apply pl-2;

      &::marker {
        @apply text-gray-400;
      }
    }
  }

  li div {
    @apply inline;
  }

  li p,
  li div,
  li h1,
  li h2 {
    @apply my-0;
  }

  hr {
    @apply my-6 border-gray-200;
  }

  img,
  object {
    @apply rounded-xl border;
  }

  pre {
    @apply bg-white px-0 py-5 text-[13px];

    code {
      @apply grid whitespace-pre break-normal text-left font-mono text-[13px];
      counter-reset: sh-line-number;

      .sh__line {
        @apply relative min-w-max px-4;

        &:before {
          @apply mr-6 inline-block w-5 text-right tabular-nums text-gray-400;
          counter-increment: sh-line-number 1;
          content: counter(sh-line-number);
        }
      }
    }
  }

  lite-youtube {
    @apply !max-w-full overflow-hidden rounded-xl;
  }
}

@layer components {
  .link-card {
    @apply -mx-1.5 -my-1 rounded bg-transparent px-1.5 py-1 transition-colors duration-300 hover:bg-gray-200;
  }

  .content-wrapper {
    @apply z-[1] w-full px-6 pb-8 pt-8 lg:px-8 lg:pb-16 lg:pt-24;
  }

  .content {
    @apply mx-auto w-full lg:mb-0 lg:max-w-3xl;
  }

  .link {
    @apply text-blue-600 hover:underline hover:underline-offset-4;
  }

  .inline-code {
    @apply inline-block rounded-md bg-gray-100 px-0.5 py-0.5 text-sm not-italic before:content-['`'] after:content-['`'];
  }

  .thumbnail-shadow {
    box-shadow:
      0 0 0 0.5px #e2e8f0,
      0 0 0 1px rgba(226, 232, 240, 0.5),
      0 0 0 3px #f8fafc,
      0 0 0 3.5px #f1f5f9,
      0 10px 15px -3px rgb(59 130 246/5%),
      0 4px 6px -4px rgb(59 130 246/5%);
  }

  .scrollable-area {
    @apply h-full max-h-dynamic-screen min-h-dynamic-screen overflow-y-auto overflow-x-hidden;
  }

  .horizontal-scroll-area {
    @apply block w-fit min-w-full grow;
  }
}

@layer utilities {
  .word-break-word {
    word-break: break-word;
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .bg-dots {
    @apply bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px];
  }

  .bg-grid {
    @apply bg-white bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
  }
}
