name: CI

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  eslint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Install modules
        run: bun install
      - name: Run ESLint
        run: bun lint
